<h3>Extra profile information</h3>
<script type="text/x-template" id="comp-employer-template">
    <section>

    </section>
</script>
<script type="text/x-template" id="comp-candidate-template">
    <section>

    </section>
</script>
<div id="user_app">
    <section>
        <div class="lds-roller" v-if="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <comp-candidate v-if="userRole === 'candidate'" :u="user"></comp-candidate>
        <comp-employer v-if="userRole === 'employer'" :u="user"></comp-employer>
    </section>

</div>