<h3>Extra profile information</h3>
<table class="form-table">
    <tr>
        <th><label for="city">Ville</label></th>
        <td><input type="text" name="city" id="city" value="{{ city }}" class="regular-text" /><br /></td>
    </tr>
    <tr>
        <th><label for="address">Adresse domicile</label></th>
        <td><input type="text" name="address" id="address" value="{{ address }}" class="regular-text" /><br /></td>
    </tr>
    <tr>
        <th><label for="phone">Numéro de téléphone</label></th>
        <td><input type="text" name="phone" id="phone" value="{{ phone }}" class="regular-text" /><br /></td>
    </tr>
</table>