<section class="utf_manage_jobs_area padd-top-0 mrg-top-0">

    <div class="table-responsive">
        <table class="ui compact inverted blue table">
            <thead class="full-width">
            <tr>
                <th>Reference</th>
                <th>Nom & Prenom</th>
                <th>Date de publication</th>
                <th>Statuts</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in candidates %}
                <tr>
                    <td class="selectable">
                        <a href="{{ user.ID | get_candidate_link }}" target="_blank">CV{{ user.ID }}</a>
                    </td>
                    <td>{{ user.data.display_name }}</td>
                    <td>{{ user.data.user_registered }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>