<section class="utf_manage_jobs_area padd-top-0 mrg-top-0">

    <div class="table-responsive">
        <table class="ui compact celled definition table">
            <thead class="full-width">
            <tr>
                <th>ID</th>
                <th>Nom & Prenom</th>
                <th>Désignation</th>
                <th>Date de publication</th>
                <th>Statuts</th>
            </tr>
            </thead>
            <tbody>
            {% for user in candidates %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>{{ user.name }}</td>
                    <td><a href="annonce.link" target="_blank">  </a></td>
                    <td><i class="ti-credit-card"></i> </td>
                    <td><span class="badge badge-info"></span></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</section>