<h2 class="ui header">
    <div class="content">
        {% block title %} {% endblock %}
    </div>
</h2>
<div class="ui two column stackable grid">
    <div class="column three wide">

        <div class="ui secondary vertical pointing menu">
            <a class="item" href="{{ page.cv }}">
                Les candidats
            </a>
            <a class="item" href="{{ page.demande }}">
                Les demandes
            </a>
            <a class="item " href="{{ page.employer }}">
                Les employeurs
            </a>
            <a class="item" href="{{ page.announce }}">
                Les annonces
            </a>

        </div>
    </div>
    <div class="column ten wide">
        {% block content %}{% endblock %}
    </div>
</div>
