<h2 class="ui header">
    <div class="content">
        {% block title %} {% endblock %}
        <div class="sub header">Check out our plug-in marketplace</div>
    </div>
</h2>
<div class="row">
    <div class="col-md-2">
        <ul class="inline ui">
            <li><a href="{{ page.cv }}">Cv</a> </li>
            <li><a href="{{ page.announce }}">Annonce</a> </li>
            <li><a href="{{ page.demande }}">Demande</a> </li>
        </ul>
    </div>
    <div class="col-md-10">
        {% block content %}{% endblock %}
    </div>
</div>
