<div class="login-body">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Nav tabs -->
            <form method="post" action="">
                <div class="form-group">
                    <input type="text" name="log" class="form-control" value=""
                           placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" value="" class="form-control"
                           placeholder="Password" required>
                </div>
                <div class="form-group"> <span class="custom-checkbox">
                    <input type="checkbox" name="remember" value="true" id="4">
                    <label for="4"></label>Se souvenir de moi </span>
                    {% comment %}<a href="#" title="Forget" class="fl-right">Forgot Password?</a>{% endcomment %}
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="jp-login-nonce" value="{{ nonce }}" />
                    <button type="submit" class="btn theme-btn full-width btn-m">Connexion</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>


</div>