<!-- ================= Job start ========================= -->

<script  id="job-grid-template" type="text/x-template">
    <div class="col-md-4 col-sm-6">
        <div class="utf_grid_job_widget_area">
            <span class="job-type full-type">${item.job_type | jobType(taxonomies)}</span>
            <div class="utf_job_like">
                <label class="toggler toggler-danger">
                    <input type="checkbox" >
                    <i class="fa fa-heart"></i>
                </label>
            </div>
            <div class="u-content">
                <div class="avatar box-80">
                    <a v-bind:href="item.link" v-if="!item.company.hasOwnProperty('errors')" target="_blank">
                        <img class="img-responsive" :src="avatarSrc" alt="">
                    </a>
                </div>
                <h5><a v-bind:href="item.link" :title="item.title.rendered">${item.title.truncate}</a></h5>
                <p class="text-muted">${item.categories | jobCategories(taxonomies)}</p>
            </div>
            <div class="utf_apply_job_btn_item">
                <a v-bind:href="item.link" target="_blank" class="btn job-browse-btn btn-radius br-light">Voir l'offre</a>
            </div>
        </div>
    </div>
</script>

<section class="padd-top-80 padd-bot-80" id="job-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>{{ title }}</h2>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="lds-roller" v-if="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <!-- Single Job -->
            <job-grid v-for="job in jobs" v-bind:item="job" :key="job.id" v-if="Object.keys(Taxonomies).length !== 0" v-bind:taxonomies="Taxonomies" ></job-grid>
        </div>
        <div class="col-md-12 mrg-top-20 text-center">
            <a href="{{ job_archive_url }}" @click="moreEmploi($event)" target="_parent" class="btn theme-btn btn-m">Voir plus d'offres</a>
        </div>
    </div>
</section>