<!-- ================= Job start ========================= -->

<script  id="job-grid-template" type="text/x-template">
    <div class="col-md-3 col-sm-6">
        <div class="utf_grid_job_widget_area">
            <span class="job-type full-type">${item.job_type | jobTypeName(taxonomies)}</span>
            <div class="utf_job_like">
                <label class="toggler toggler-danger">
                    <input type="checkbox" >
                    <i class="fa fa-heart"></i>
                </label>
            </div>
            <div class="u-content">
                <div class="avatar box-80 hidden">
                    <a v-bind:href="item.link" target="_blank">
                        <img class="img-responsive" src="" alt="">
                    </a>
                </div>
                <h5><a href="employer-detail.html">${item.title.rendered}</a></h5>
                <p class="text-muted" v-html="item.excerpt.rendered"></p>
            </div>
            <div class="utf_apply_job_btn_item">
                <a v-bind:href="item.link" target="_blank" class="btn job-browse-btn btn-radius br-light">Postuler</a>
            </div>
        </div>
    </div>
</script>

<section class="padd-top-80 padd-bot-80" id="job-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>Latest Jobs</h2>
                    <p>Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry
                        standard dummy text ever since when unknown printer took a galley.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Job -->
            <job-grid v-for="job in jobs" v-bind:item="job" :key="job.id" v-bind:taxonomies="Taxonomies" ></job-grid>
        </div>
        <div class="col-md-12 mrg-top-20 text-center">
            <a href="job-layout-one.html" class="btn theme-btn btn-m">Browse All Jobs</a>
        </div>
    </div>
</section>