<!-- ======================= Start Banner ===================== -->
<div class="utf_main_banner_area" style="background-color: #39ECEC" data-overlay="8">
    <div class="container">
        <div class="col-md-10 col-sm-8">
            <div class="caption cl-white home_two_slid">
                <h2>Search Between More Then <span class="theme-cl">50,000</span> Open Jobs.</h2>
                <p>Trending Jobs Keywords: <span class="trending_key"><a href="#">Web Designer</a></span> <span class="trending_key"><a href="#">Web Developer</a></span> <span class="trending_key"><a href="#">IOS Developer</a></span> <span class="trending_key"><a href="#">Android Developer</a></span></p>
            </div>
            <form name="search" role="search" action="" method="get" novalidate>
                <fieldset class="utf_home_form_one">
                    <div class="col-md-4 col-sm-4 padd-0">
                        <input type="text" class="form-control br-1" name="s" placeholder="Search Keywords..." />
                    </div>
                    <div class="col-md-3 col-sm-3 padd-0">
                        <select name="region" class="wide form-control br-1">
                            <option value="" data-display="Location">All Region</option>
                            {% for region in regions %}
                                <option value="{{ region.term_id }}">{{ region.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 padd-0">
                        <select name="cat" class="wide form-control">
                            <option value="" data-display="Category">Show All</option>
                            {% for categorie in categories %}
                                <option value="{{ categorie.term_id }}">{{ categorie.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 padd-0 m-clear">
                        <input type="hidden"  name="post_type" value="jp-jobs">
                        <button type="submit" class="btn theme-btn cl-white seub-btn">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->
