<!-- ====================== Start Signup Form ============= -->
<section class="padd-top-80 padd-bot-80">
    <div class="container">
        <div class="log-box">
            <form class="log-form" id="register-form" action="{{ action }}" method="post">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="role_candidate" value="candidate">
                            <label class="form-check-label" for="role_candidate">Je suis un <b>candidate</b></label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="role_employer" value="employer" required>
                            <label class="form-check-label" for="role_employer">Je suis un <b>employeur</b></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom et prénom</label>
                            <input type="text" id="first_name" autocomplete="false" name="first_name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Adresse email</label>
                            <input type="email" name="email" class="form-control" value="" placeholder="Email" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" id="password" name="password" autocomplete="false" minlength="5" class="form-control" value="" placeholder="********" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirmer votre mot de passe</label>
                            <input type="password"  name="confirm_password" autocomplete="false" minlength="5" class="form-control" value="" placeholder="********" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Numéro de téléphone</label>
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group text-center mrg-top-15">
                        <button type="submit" class="btn theme-btn btn-m full-width">S'inscrire</button>
                        {{ nonce }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>
<style>
    #register-form .form-control {
        margin: 0;
    }

    label.error {
        color: white;
        display: block;
        background-color: red;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        border-radius: 7px;
        font-weight: 300;
        line-height: 15px;
    }

    .form-control.error {
        border: 2px solid red;
    }
</style>
<!-- ====================== End Signup Form ============= -->