<style type="text/css">
    /* theme.liquid file **/
    .ui.selection.dropdown {
        line-height: 1.9em;
    }

    .ui.selection.dropdown > .delete.icon,
    .ui.selection.dropdown > .dropdown.icon,
    .ui.selection.dropdown > .search.icon {
        top: 1.413563em;
    }

    .ui.dropdown .menu > .item {
        font-size: 1.235rem;
    }

    section .ui.selection.dropdown {
        border: 2px solid rgb(77 113 150 / 15%);
    }

    section .ui.dropdown .menu {
        border: 2px solid rgba(34, 36, 38, .15);
    }

    .ui.selection.dropdown .menu {
        margin: 0 -2px;
        min-width: calc(100% + 4px);
        width: calc(100% + 3px);
    }

    .utf_main_banner_area fieldset div:first-child input {
        border-radius: 30px 0 0 30px;
    }

    .utf_main_banner_area .ui.selection.dropdown {
        line-height: 2.5em;
    }

    .utf_main_banner_area .ui.selection.dropdown > .delete.icon,
    .utf_main_banner_area .ui.selection.dropdown > .dropdown.icon,
    .utf_main_banner_area .ui.selection.dropdown > .search.icon {
        line-height: 1.61428571em;
    }
</style>
<script id="component-login-template" type="text/x-template">
    <div class="login-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#employer" role="tab">
                    <i class="ti-user"></i> Job Seeker
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#candidate" role="tab">
                    <i class="ti-user"></i> Job Provider
                </a>
            </li>
        </ul>
        <!-- Nav tabs -->
        <form @submit="checkLoginForm" method="post" action="" novalidate>
            <div class="form-group">
                <input type="text" v-model="user_login" name="user_login" class="form-control"
                       placeholder="Email Address" required>
            </div>
            <div class="form-group">
                <input type="password" v-model="user_password" name="user_password" class="form-control"
                       placeholder="Password" required>
            </div>
            <div class="form-group"> <span class="custom-checkbox">
                    <input type="checkbox" id="4">
                    <label for="4"></label>Remember Me </span>
                <a href="#" title="Forget" class="fl-right">Forgot Password?</a>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn theme-btn full-width btn-m">LogIn</button>
            </div>
            <p v-if="errors.length" style="margin-top: 40px">
                <b>Please correct the following error(s):</b>
            <ul>
                <li style="color:red" v-for="error in errors">${ error }</li>
            </ul>
            </p>
        </form>

    </div>
</script>




